@font-face {
	font-family: "Gilroy Bold";
	src: url(../fonts/web/gilroyextrabold.woff2) format("woff2"),
	url(../fonts/web/gilroyextrabold.woff) format("woff");
	font-weight: 800;
}

@font-face {
	font-family: "Gilroy Light";
	src: url(../fonts/web/gilroylight.woff2) format("woff2"),
	url(../fonts/web/gilroylight.woff) format("woff");
	font-weight: 300;
}

@font-face {
	font-family: "Open Sans";
	src: url(../fonts/web/opensans.woff2) format("woff2"),
	url(../fonts/web/opensans.woff) format("woff");
	font-weight: 400;
}

@font-face {
	font-family: "Open Sans Light";
	src: url(../fonts/web/opensanslight.woff2) format("woff2"),
	url(../fonts/web/opensanslight.woff) format("woff");
	font-weight: 300;
}

body {

	margin: 0;
	padding: 0;

	font-family: "Gilroy Bold", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.content-wrapper {
	width: 1200px;
	padding: 0 20px;
	box-sizing: border-box;
	margin: 0 auto;
}

.button {	
	display: inline-block;
	box-sizing: border-box;
	
	background-color: #f0c52e;
	border: none;

	text-align: center;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 0.2em;
}

.button:hover,
.button:focus {
	cursor: pointer;
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
}

/*-----------------------------------------HEADER---------------------------------------------------*/

.main-header {
	min-height: 299px;
	margin: 0 auto;
	padding: 0 60px;

	background-color: #f7e296;
	background-image: linear-gradient(to bottom, #fff 40px, #f7e296 40px);
}

.main-navigation {
	display: flex;
	flex-direction: column;

}

.main-header-logo {
	width: 163px;
	margin-top: 15px;
	margin-bottom: 23px;

	font-size: 48px;
	font-family: "Gilroy Bold", "Arial", sans-serif;
	line-height: 48px;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: #000;
}

.main-header-logo:focus,
.main-header-logo:hover {
	opacity: 0.6;
}

.main-header-logo:active {
	opacity: 0.3;
}

.header-wrapper {
	display: flex;
	align-items: baseline;
	margin-bottom: 46px;
}

.header-form input {
	position: relative;

	width: 440px;
	padding-left: 40px;
	margin-right: 100px;
	box-sizing: border-box;

	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.01em;

	opacity: 0.3;
	border: none;
	background-color: transparent;
}

.header-form input:hover {
	opacity: 0.6;
}

.header-form input:focus {
	opacity: 1;
	outline: none;
	border-bottom: 2px solid #000;
}



.user-navigation {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.user-navigation a {
	font-size: 15px;
	line-height: 30px;
	font-family: "Open Sans Light", "Arial", sans-serif;
	color: #000;
}

.login-link {
	position: relative;

	display: inline-block;
	padding-left: 27px;
}

.login-link::before {
	position: absolute;
	left: 0;
	top: 10px;

	width: 13px;
	height: 12px;

	background: url("../img/svg-device/user.svg") no-repeat 0 0;

	content: "";
}

.user-navigation li:first-child {
	margin-right: 20px;
}

.user-navigation a:hover,
.user-navigation a:focus {
	opacity: 0.6;
}

.user-navigation a:active {
	opacity: 0.3
}

.user-functions {
	display: flex;
	margin: 0;
	margin-left: auto;
	padding: 0;

	list-style: none;
}

.user-functions li:first-child {
	margin-right: 37px;
}

.compare-link {
	position: relative;

	display: inline-block;
	padding-left: 21px;

}

.compare-link::before {
	position: absolute;
	top: 11px;
	left: 0;

	width: 13px;
	height: 12px;

	background: url("../img/svg-device/compare.svg") no-repeat 0 0;

	content: "";
}

.basket-link {
	position: relative;

	display: inline-block;
	padding-left: 21px;

}

.basket-link::before {
	position: absolute;
	top: 10px;
	left: 0;

	width: 12px;
	height: 12px;

	background: url("../img/svg-device/cart.svg") no-repeat 0 0;

	content: "";
}

.user-functions a {
	font-size: 15px;
	line-height: 30px;
	font-family: "Open Sans Light", "Arial", sans-serif;
	color: #000;
}

.user-functions a:hover,
.user-functions a:focus {
	opacity: 0.6;
}

.user-functions a:active {
	opacity: 0.3;
}

.site-navigation {
	display: flex;
	padding: 0;
	margin: 0;

	list-style: none;
}


.site-navigation a {
	font-family: "Gilroy Bold", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.2em;
	color: #000;
}

.site-navigation-catalog {
	position: relative;

	padding-right: 34px;

	display: inline-block;
}

.site-navigation-catalog::after {
	position: absolute;
	top: 4px;
	right: 0;

	width: 16px;
	height: 16px;

	background: url("../img/svg-device/plus.svg");

	content: "";

}

.site-navigation > li:nth-child(2) {
	margin-left: -10px;
	margin-right: 40px;
}

.site-navigation > li:nth-child(4) {
	margin-left: auto;
}


.site-navigation a:hover,
.site-navigation a:focus {
	opacity: 0.6;
}

.site-navigation a:active {
	opacity: 0.3;
}

.goods {
	display: flex;
	margin-top: 33px;
	margin-bottom: 43px;
	padding: 0;

	list-style: none;
}

.goods li {
	display: flex;
	flex-direction: column;
}

.goods li:first-child {
	margin-right: 58px;
}

.goods li:nth-child(2) {
	margin-right: 78px;
}

.goods a {
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	text-transform: none;
	letter-spacing: 0.01em;
}

.goods a:hover,
.goods a:focus {
	opacity: 0.6;
}

.goods a:active {
	opacity: 0.3;
}

/*-----------------------------------------MAIN---------------------------------------------------*/

.slides {
	margin-bottom: 106px;
}

.slides-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.slides-list li {
	display: flex;
	flex-wrap: wrap;
}

.slides-list b {
	font-family: "Gilroy Bold", "Arial", sans-serif;
	font-size: 47px;
	line-height: 56px;
	font-weight: 700;
}

.slides-list p {
	padding: 0;
	margin: 0;

	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: #464646;
}

.features tr {
	font-family: "Gilroy Light", "Arial", sans-serif;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.01em;
}

.features tr + tr {
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.01em;
	color: #464646;
}

.slider-img {
	width: 580px;
	text-align: center;
}

.slide-description {
	position: relative;

	margin-right: 80px;
}

.slide-description b {
	display: inline-block;
	margin-bottom: 28px;
}

.slide-description p {
	margin-bottom: 60px;
}

.slide-description .button {
	width: 220px;
	height: 40px;
	padding: 9px 0;
	margin-bottom: 65px;
	
	
	background:linear-gradient(transparent 17px,#f0c52e 17px,#f0c52e 24px,transparent 24px);	
}
.slide-description .button:hover{
	    background-color: #f0c52e;
}

.features td:not(:last-child)
/*не знаю как отступы правильно сделать*/
{
	display: inline-block;
	margin-right: 80px;
}



.goods-catalog {
	margin-bottom: 76px;
}

.goods-catalog-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.goods-catalog-list li {
	width: 160px;
	margin-right: 40px;
}

.goods-catalog-list li:last-child {
	margin-right: 0;
}

.goods-catalog-list a {
	letter-spacing: 0.01;
	color: #000;
}

.goods-catalog-list a:hover,
.goods-catalog-list a:focus {
	opacity: 0.6;
}

.goods-catalog-list a:active {
	opacity: 0.3;
}

.good-img {
	display: block;
	width: 160px;
	height: 160px;
	margin-bottom: 36px;
}

.good-img:hover,
/*не могу убрать на ховере обесцвечивание*/

.good-img:focus {
	opacity: 1;
	background-color: rgba(240, 197, 46, 1);
}

.first-img {
	background: url("..//img/svg-device/popular-1.svg") #f7e296 no-repeat 50% 50%;
}

.second-img {
	background: url("..//img/svg-device/popular-2.svg") #f7e296 no-repeat 50% 50%;
}

.third-img {
	background: url("..//img/svg-device/popular-3.svg") #f7e296 no-repeat 50% 50%;
}

.fourth-img {
	background: url("..//img/svg-device/popular-4.svg") #f7e296 no-repeat 50% 50%;
}

.fifth-img {
	background: url("..//img/svg-device/popular-5.svg") #f7e296 no-repeat 50% 50%;
}

.sixth-img {
	background: url("..//img/svg-device/poppular-6.svg") #f7e296 no-repeat 50% 50%;
}



.services {
	margin-bottom: 94px;

	background: linear-gradient(to bottom, #fff 100px, #e5e5e5 100px);
}

.service-wrapper {
	display: flex;
}

.service-navigation {
	width: 277px;
	height: 240px;
	border-right: 7px solid #000;
	margin: 0;
	padding: 0;
	padding-top: 80px;


	list-style: none;
}



.service-list {
	margin: 0;
	padding: 0;

	list-style: none;
}

.service-item {
	position: relative;
	min-width: 460px;
	height: 317px;
	margin-right: 60px;
	padding: 72px 240px 0 116px;
}

.service-item-delivery::after {
	position: absolute;
	top: 85px;
	right: 0;

	width: 136px;
	height: 164px;

	background: url(../img/svg-device/delivery.svg) no-repeat 0 0;

	content: "";

}

.service-item-guarantee::after {
	position: absolute;
	top: 62px;
	right: 0;

	width: 171px;
	height: 195px;

	background: url(../img/svg-device/warranty.svg);

	content: "";
}

.service-item-credit::after {
	position: absolute;
	top: 62px;
	right: 0;

	width: 156px;
	height: 188px;

	background: url(../img/svg-device/credit.svg);

	content: "";
}

.service-list h3 {
	padding: 0;
	margin: 0;
	margin-bottom: 34px;

	font-family: "Gilroy Bold", "Arial", sans-serif;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.01em;
}

.service-list p {
	margin: 0;
	padding: 0;

	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: #464646;
}



.brands {
	margin-bottom: 93px;
}

.brand-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.brand-item {
	position: relative;
}

.brand-item img:last-child {
	position: absolute;
	top: 0;
	left: 0;

	opacity: 0;
}

.brand-item:hover img:first-child {
	opacity: 0;
}

.brand-item:hover img:last-child {
	opacity: 1;
}

.about-us-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 92px;
}

.about-us {
	position: relative;
	
	width: 475px;
	padding-top: 51px;
}
.about-us::before{
	position: absolute;
	top:0;
	left: 0;
	
	width:80px;
	border-top: 7px solid #000;
	
	content: "";
}

.contacts {
	position: relative;
	
	width: 560px;
	padding-top: 51px;
}
.contacts::before{
	position: absolute;
	top:0;
	left: 0;
	
	width:80px;
	border-top: 7px solid #000;
	
	content: "";
}

.about-us h2,
.contacts h2 {
	margin: 0;
	margin-bottom: 46px;
	padding: 0;

	font-family: "Gilroy Bold", "Arial", sans-serif;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.01em;
}

.about-us p,
.contacts p {
	margin: 0;
	margin-bottom: 43px;
	padding: 0;

	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
}


.about-list {
	margin: 0;
	margin-top: 83px;
	margin-bottom: 73px;

	list-style: none;
}


.about-list li {
	font-family: "Gilroy Bold", "Arial", sans-serif;
	font-size: 16px;
	line-height: 40px;
}

.contacts img {
	margin-bottom: 73px;
}

.contacts button {
	text-transform: uppercase;
	color: #000;
	letter-spacing: 0.2em;
}



/*-----------------------------------------FOOTER---------------------------------------------------*/

.main-footer {
	padding-top: 56px;

	background-color: #464646;

	color: #fff;
}

.footer-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 23px;
}

.footer-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 62px;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 65px;
}

.footer-bottom::before {
	content: "";
	width: 80px;
	height: 7px;
	background-color: #ffc600;
}

.footer-user-nav-wrapper {
	display: flex;
}



.main-footer-logo {
	font-size: 48px;
	font-family: "Gilroy Bold", "Arial", sans-serif;
	line-height: 48px;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: #ffc600;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
	opacity: 0.6;
}

.main-footer-logo:active {
	opacity: 0.3;
}

.footer-user-navigation {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-user-navigation li:first-child {
	margin-right: 44px;
}

.footer-user-navigation a {
	font-size: 15px;
	line-height: 30px;
	font-family: "Open Sans Light", "Arial", sans-serif;
	color: #fff;
	opacity: 0.7;

	margin-right: 30px;
}

.footer-user-functions {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-user-functions li:first-child {
	margin-right: 37px;
}

.footer-user-functions a {
	font-size: 15px;
	line-height: 30px;
	font-family: "Open Sans Light", "Arial", sans-serif;
	color: #fff;
	opacity: 0.7;
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus,
.footer-user-functions a:hover,
.footer-user-functions a:focus {
	opacity: 1;
}

.footer-user-navigation a:active,
.footer-user-functions a:active {
	opacity: 0.3
}

.location {
	margin: 0;
	padding: 0;

	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
}

.footer-list {
	width: 440px;
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-list a {
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.2em;
}

.footer-list a:hover,
.footer-list a:focus {
	opacity: 0.6;
}

.footer-list a:active {
	opacity: 0.3;
}

.main-footer span {
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
}

.footer-social {
	display: flex;
	justify-content: space-between;
	width: 140px;
	height: 32px;
	margin: 0;
	padding: 0;

	list-style: none;
}

.social-button {
	position: relative;

	padding-left: 32px;
}

.facebook::before {
	position: absolute;
	top: 0;
	left: 0;

	background: url("../img/svg-device/fb.svg") no-repeat 0 0;
	width: 32px;
	height: 32px;

	opacity: 0.3;
	content: "";
}

.instagram::before {
	position: absolute;
	top: 0;
	left: 0;

	background: url("../img/svg-device/instagram.svg") no-repeat 0 0;
	width: 32px;
	height: 32px;

	opacity: 0.3;
	content: "";
}

.twitter::before {
	position: absolute;
	top: 0;
	left: 0;

	background: url("../img/svg-device/twitter.svg") no-repeat 0 0;
	width: 32px;
	height: 32px;

	opacity: 0.3;
	content: "";
}

/*-----------------------------------------POP UP LOGIN---------------------------------------------------*/

.modal {
	width: 960px;
	min-height: 554px;
	margin: 0 auto;
}

.write-us {
	background-color: #fff;
}

.write-us .form-login {
	width: 760px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
}

.modal-inner-wrapper {
	width: 360px;
}

.textarea {
	width: 760px;
}

.write-us input {
	width: 360px;
}

.write-us textarea {
	width: 760px;
}

.write-us input,
.write-us textarea {
	background-color: #f2f2f2;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.write-us input:hover,
.write-us textarea:hover {
	background-color: #ebebeb;
}

.write-us input:focus,
.write-us textarea:focus {
	background-color: #ffffff;
	outline-color: #f7e296;
}

.write-us .invalid-field {
	background-color: #f6dada;
}

.write-us .invalid-field:hover,
.write-us .invalid-field:focus {
	background-color: #f6dada;
}

/*-----------------------------------------CATALOG.HTML---------------------------------------------------*/

.breadcrumbs {
	display: flex;
	margin-bottom: 50px;
	padding: 0;

	list-style: none;
}

.breadcrumbs li {
	margin-right: 30px;
}

.breadcrumbs a,
.breadcrumbs li:last-child {
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

/*--------------flex---------------*/

.catalog-container {
	display: flex;
}

.filters {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: flex-end;

	background-color: #eeeeee;
}

.filter-title {
	display: flex;
	align-self: stretch;
	justify-content: flex-end;

	background-color: #dbdbdb;
}

.filter-title h2 {
	width: 348px;
	padding-left: 80px;
	box-sizing: border-box;
}

.form-filter {
	width: 348px;
	padding-left: 80px;
	padding-right: 68px;
	box-sizing: border-box;
}

.catalog-main-wrapper {
	flex-grow: 1;
}

.sorting-wrapper {
	background-color: #ebebeb;
}

.sorting-inner {
	display: flex;
	align-items: baseline;
	width: 852px;
	padding-left: 72px;
	padding-right: 20px;
	box-sizing: border-box;
}

.catalog-wrapper {
	width: 852px;
	padding-right: 20px;
	padding-left: 72px;
	box-sizing: border-box;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.pagination-list {
	display: flex;
}

/*-----------flex-----------*/

.filters h2 {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.filters fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.filter-item label {
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.01em;
}

.sorting h2 {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.sorting a {
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
}

.sorting a:hover,
.sorting a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.sorting a:active {
	color: rgba(0, 0, 0, 1);
}

.catalog-list {
	list-style: none;
}

.catalog-list a {
	color: #000;
	letter-spacing: 0.01em;
}

.catalog-list .good-price {
	font-family: "Gilroy Light", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.01em;
}

.catalog-list img:hover {
	opacity: 0.7;
}

.catalog-list .button-compare {
	background-color: transparent;
	border: none;

	text-transform: none;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.5);
	letter-spacing: 0.01em;
}

.catalog-list .button-compare:hover,
.catalog-list .button-compare:focus {
	color: rgba(0, 0, 0, 1);
}

.catalog-list .button-compare:active {
	color: rgba(0, 0, 0, 0.2);
}

.pagination-list {
	list-style: none;
	background-color: #ebebeb;
}

.pagination-list a {
	font-family: "Gilroy Bold", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a,
.item-prev a,
.item-next a {
	color: #000;
}

.item-prev a:hover,
.item-next a:hover,
.item-prev a:focus,
.item-next a:focus {
	background-color: #d9d9d9;
}

.item-prev a:active,
.item-next a:active {
	background-color: #d9d9d9;
	color: rgba(0, 0, 0, 0.3);
}