@font-face {
	font-family: "Gilroy Bold";
	src: url(../fonts/web/gilroyextrabold.woff2) format("woff2"),
	url(../fonts/web/gilroyextrabold.woff) format("woff");
	font-weight: 800;
}

@font-face {
	font-family: "Gilroy Light";
	src: url(../fonts/web/gilroylight.woff2) format("woff2"),
	url(../fonts/web/gilroylight.woff) format("woff");
	font-weight: 300;
}

@font-face {
	font-family: "Open Sans";
	src: url(../fonts/web/opensans.woff2) format("woff2"),
	url(../fonts/web/opensans.woff) format("woff");
	font-weight: 400;
}

@font-face {
	font-family: "Open Sans Light";
	src: url(../fonts/web/opensanslight.woff2) format("woff2"),
	url(../fonts/web/opensanslight.woff) format("woff");
	font-weight: 300;
}

body {

	margin: 0;
	padding: 0;

	font-family: "Gilroy Bold", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.content-wrapper {
	width: 1200px;
	padding: 0 20px;
	box-sizing: border-box;
	margin: 0 auto;
}

.button {
	display: inline-block;
	box-sizing: border-box;
	padding: 9px 0;

	border: none;
	background-image: linear-gradient(transparent 17px, #f0c52e 17px, #f0c52e 24px, transparent 24px);

	text-align: center;
	text-transform: uppercase;
	color: #000;
	letter-spacing: 0.2em;
}

.button:hover,
.button:focus {
	cursor: pointer;
	background-color: #f0c52e;
}

.button:active {
	color: rgba(0, 0, 0, 0.3);
}

/*-----------------------------------------HEADER---------------------------------------------------*/

.main-header {
	position: relative;

	margin: 0 auto;
	padding: 0 60px;


	background-color: #f7e296;
	background-image: linear-gradient(to bottom, #fff 40px, #f7e296 40px);
}

.main-navigation {
	display: flex;
	flex-direction: column;

}

.main-header-logo {
	width: 163px;
	margin-top: 16px;
	margin-bottom: 10px;
	margin-left: -2px;
	font-size: 48px;
	font-family: "Gilroy Bold", "Arial", sans-serif;
	line-height: 48px;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: #000;
}

.main-header-logo:focus,
.main-header-logo:hover {
	opacity: 0.6;
}

.main-header-logo:active {
	opacity: 0.3;
}

.header-wrapper {
	display: flex;
	align-items: baseline;
	margin-bottom: 29px;
}

.header-form input {
	position: relative;
	width: 440px;
	padding-left: 38px;
	box-sizing: border-box;
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.01em;
	opacity: 0.3;
	border: none;
	background-color: transparent;
	background-image: url("../img/svg-device/search.svg");
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: left 2px center;
}

.header-form input:hover {
	opacity: 0.6;
}

.header-form input:focus {
	opacity: 1;
	outline: none;
	border-bottom: 2px solid #000;
}

.header-form-submit {
	width: 85px;
	min-height: 49px;
	box-sizing: border-box;

	visibility: visible;
	border: 2px solid #000;
	background-color: transparent;

	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.01em;
}

.header-form input:focus + .header-form-submit {
	visibility: visible;
}


.user-navigation {
	display: flex;
	margin: 0;
	margin-right: auto;
	padding: 0;

	list-style: none;
}

.user-navigation a {
	font-size: 15px;
	line-height: 30px;
	font-family: "Open Sans Light", "Arial", sans-serif;
	color: #000;
}

.login-link {
	position: relative;
	display: inline-block;
	padding-left: 37px;
}

.login-link::before {
	position: absolute;
	left: 11px;
	top: 8px;
	width: 13px;
	height: 12px;
	background-image: url("../img/svg-device/user.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	content: "";
}

.user-navigation li {
	margin-right: 20px;
}

.user-navigation li:last-child {
	margin-right: 0;
}

.user-navigation a:hover,
.user-navigation a:focus {
	opacity: 0.6;
}

.user-navigation a:active {
	opacity: 0.3
}

.user-functions {
	display: flex;
	margin: 0;

	padding: 0;

	list-style: none;
}

.user-functions li {
	margin-right: 37px;
}

.user-functions li:last-child {
	margin-right: 0;
}

.compare-link {
	position: relative;
	display: inline-block;
	padding-left: 24px;
}

.compare-link::before {
	position: absolute;
	top: 10px;
	left: 4px;
	width: 13px;
	height: 12px;
	background: url("../img/svg-device/compare.svg") no-repeat 0 0;
	content: "";
}

.basket-link {
	position: relative;
	display: inline-block;
	padding-left: 28px;
}

.basket-link::before {
	position: absolute;
	top: 8px;
	left: 4px;
	width: 12px;
	height: 12px;
	background: url("../img/svg-device/cart.svg") no-repeat 0 0;
	content: "";
}

.user-functions a {
	font-size: 15px;
	line-height: 30px;
	font-family: "Open Sans Light", "Arial", sans-serif;
	color: #000;
}

.user-functions a:hover,
.user-functions a:focus {
	opacity: 0.6;
}

.user-functions a:active {
	opacity: 0.3;
}

.site-navigation {
	display: flex;
	padding: 0;

	margin: 0;

	list-style: none;
}


.site-navigation a {
	font-family: "Gilroy Bold", "Arial", sans-serif;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.2em;
	color: #000;
}

.site-navigation-catalog {
	position: relative;
	padding-right: 27px;
	display: inline-block;
}

.site-navigation-catalog::after {
	position: absolute;
	top: 4px;
	right: 0px;
	width: 16px;
	height: 16px;
	background: url("../img/svg-device/plus.svg");
	content: "";
}

.site-navigation > li:nth-child(1) {
	margin-right: 294px;
}

.site-navigation > li:nth-child(2) {
	margin-right: 34px;
}

.site-navigation > li:nth-child(4) {
	margin-left: auto;
}


.site-navigation a:hover,
.site-navigation a:focus {
	opacity: 0.6;
}

.site-navigation a:active {
	opacity: 0.3;
}

.goods {
	position: absolute;
	left: 0;
	z-index: 1;


	display: flex;
	width: 1160px;
	padding: 0;
	padding-left: 60px;
	padding-top: 21px;
	padding-bottom: 34px;
	box-sizing: border-box;
	
	list-style: none;
	background-color: #f7e296;
}

.goods li {
	display: flex;
	flex-direction: column;
}

.goods li:first-child {
	margin-right: 58px;
}

.goods li:nth-child(2) {
	margin-right: 78px;
}

.goods a {
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 36px;
	text-transform: none;
	letter-spacing: 0.01em;
}

.goods a:hover,
.goods a:focus {
	opacity: 0.6;
}

.goods a:active {
	opacity: 0.3;
}
/*-----------------------------------------MAIN---------------------------------------------------*/

.slides {
	margin-bottom: 73px;
}

.slides-list {
	margin: 0;
	padding: 0;
	padding-top: 53px;
	
	background-image: linear-gradient(to bottom,#f7e296 164px, #fff 164px);


	list-style: none;
}

.slides-list li {
	display: flex;
}

.slides-list b {
	font-size: 47px;
	line-height: 56px;
	font-weight: 700;
	letter-spacing: 0.01em;
}

.slides-list p {
	padding: 0;
	margin: 0;

	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: #464646;
}

.features tr {
	font-family: "Gilroy Light", "Arial", sans-serif;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0.01em;
}

.features tr + tr {
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.01em;
	color: #464646;
}

.slider-img {
	flex-shrink: 0;
	width: 565px;
	text-align: center;
}

.slide-description {
	position: relative;

	padding-top: 79px;
	padding-left: 34px;
	padding-right: 75px;

	flex-grow: 1;
}

.slide-description b {
	display: inline-block;
	margin-bottom: 18px;
}

.slide-description p {
	margin-bottom: 42px;
}

.slide-description .button {
	width: 220px;
	height: 40px;
	margin-bottom: 48px;
}
.features td {
	line-height: 1.4;
}
.features td:first-child {
	width: 153px;
}

.features td:nth-child(2) {
	width: 136px;
	margin-right: 20px;
}

.features td:nth-child(3) {
	width: 66px;
}

/*Потом уберу*/

.slides-list li:nth-child(n + 2) {
	display: none;
}

/*Потом уберу*/

.goods-catalog {
	margin-bottom: 76px;
}

.goods-catalog-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.goods-catalog-list li {
	width: 160px;
	margin-right: 40px;
}

.goods-catalog-list li:last-child {
	margin-right: 0;
}

.good-image {
	display: block;


}

.good-image::before {
	content: "";
	display: block;
	width: 100%;
	height: 160px;
	margin-bottom: 34px;

	background-color: rgba(240, 197, 46, 0.5);
}

.good-image:hover::before,
.good-image:focus::before,
.good-image:active::before {
	background-color: rgba(240, 197, 46, 1);
}

.good-image::after {
	content: "";
	position: absolute;
	top: 0;

	display: block;
	width: 100%;
	height: 160px;
}

.good-image:active::after {
	opacity: 0.3;
}

.vr-image {
	position: relative;
}

.vr-image::after {
	background-image: url("..//img/svg-device/popular-1.svg");
	background-repeat: no-repeat;
	background-position: left 31px center;
}

.selfie-image {
	position: relative;
}

.selfie-image::after {
	background-image: url("..//img/svg-device/popular-2.svg");
	background-repeat: no-repeat;
	background-position: left 38px bottom 2px;
}

.camera-image {
	position: relative;
}

.camera-image::after {
	background-image: url("..//img/svg-device/popular-3.svg");
	background-repeat: no-repeat;
	background-position: left 49px center;
}

.bracer-image {
	position: relative;
}

.bracer-image::after {
	background-image: url("..//img/svg-device/popular-4.svg");
	background-repeat: no-repeat;
	background-position: left 28px bottom 45px;
}

.watch-image {
	position: relative;
}

.watch-image::after {
	background-image: url("..//img/svg-device/popular-5.svg");
	background-repeat: no-repeat;	
	background-position: left 55px bottom 30px;
}

.quadrupter-image {
	position: relative;
}

.quadrupter-image::after {
	background-image: url("..//img/svg-device/poppular-6.svg");
	background-repeat: no-repeat;
	background-position: left 13px bottom 42px;
}

.goods-catalog-list a {
	letter-spacing: 0.01;
	color: #000;
}

.goods-catalog-list a:hover,
.goods-catalog-list a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.goods-catalog-list a:active {
	color: rgba(0, 0, 0, 0.3);
}



.services {
	margin-bottom: 94px;
	padding-bottom: 70px;
	
	background: linear-gradient(to bottom, #fff 103px, #e5e5e5 103px);
}

.service-wrapper {
	display: flex;
}

.service-navigation {
	height: 240px;
	border-right: 7px solid #000;
	margin: 0;
	padding: 0;
	padding-top: 80px;


	list-style: none;
}

.service-navigation li {
	/*если указываю ширину у самого списка то она не действует и не оталкивает палочку сбоку*/
	width: 277px;
	margin-bottom: 24px;
}

.service-navigation .button {
	width: 160px;
}

.service-list {
	margin: 0;
	padding: 0;
	padding-top: 72px;
	padding-left: 116px;


	list-style: none;
}

.service-item {
	position: relative;
	padding: 0;
	padding-right: 300px;
}

.service-item-delivery::after {
	position: absolute;
	top: 16px;
	right: 66px;

	width: 136px;
	height: 164px;

	background: url(../img/svg-device/delivery.svg) no-repeat 0 0;

	content: "";
}

.service-item-guarantee::after {
	position: absolute;
	top: -8px;
	right: 46px;

	width: 171px;
	height: 195px;

	background: url(../img/svg-device/warranty.svg);

	content: "";
}

.service-item-credit::after {
	position: absolute;
	top: -8px;
	right: 70px;

	width: 156px;
	height: 188px;

	background: url(../img/svg-device/credit.svg);

	content: "";
}

/*Потом уберу*/

.service-item-guarantee,
.service-item-credit {
	display: none;
}

/*Потом уберу*/

.service-list h3 {
	padding: 0;
	margin: 0;
	margin-bottom: 27px;

	font-family: "Gilroy Bold", "Arial", sans-serif;
	font-size: 47px;
	line-height: 56px;
	letter-spacing: 0.01em;
}

.service-list p {
	margin: 0;
	padding: 0;

	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.02em;
	color: #464646;
}



.brands {
	margin-bottom: 88px;
}

.brand-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;

	list-style: none;
}

.brand-item {
	position: relative;
}

.brand-item img:last-child {
	position: absolute;
	top: 0;
	left: 0;

	opacity: 0;
}

.brand-item:hover img:first-child {
	opacity: 0;
}

.brand-item:hover img:last-child {
	opacity: 1;
}




.about-us-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 81px;
}

.about-us {
	position: relative;

	width: 475px;
	padding-top: 51px;
}

.about-us::before {
	position: absolute;
	top: 0;
	left: 0;

	width: 80px;
	border-top: 7px solid #000;

	content: "";
}

.contacts {
	position: relative;

	width: 560px;
	padding-top: 51px;
}

.contacts::before {
	position: absolute;
	top: 0;
	left: 0;

	width: 80px;
	border-top: 7px solid #000;

	content: "";
}

.about-us h2,
.contacts h2 {
	margin: 0;
	margin-bottom: 44px;
	padding: 0;

	font-family: "Gilroy Bold", "Arial", sans-serif;
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.01em;
}

.about-us p,
.contacts p {
	margin: 0;	
	padding: 0;

	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
}
.about-us p{
	margin-bottom: 30px;
}

.contacts p {
	margin-bottom: 40px;
}

.about-list {
	margin: 0;
	margin-top: 66px;
	margin-bottom: 53px;
	padding: 0;
	padding-left: 35px;
	
	list-style: none;
}


.about-list li {
	font-family: "Gilroy Bold", "Arial", sans-serif;
	font-size: 16px;
	line-height: 40px;
}

.contacts a{
	display: block;
	margin-bottom: 63px;
}
.about-us .button,
.contacts .button {
	width: 260px;

	text-transform: uppercase;
	color: #000;
	letter-spacing: 0.2em;
}

.contacts button {
	background-color: transparent;
}



/*-----------------------------------------FOOTER---------------------------------------------------*/

.main-footer {
	padding-top: 60px;

	background-color: #464646;

	color: #fff;
}

.footer-top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 23px;
}

.footer-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 59px;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 65px;
}

.footer-bottom::before {
	content: "";
	width: 80px;
	height: 7px;
	background-color: #ffc600;
}

.footer-user-nav-wrapper {
	display: flex;
}



.main-footer-logo {
	margin-left: -2px;
	
	font-size: 48px;
	font-family: "Gilroy Bold", "Arial", sans-serif;
	line-height: 48px;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	color: #ffc600;
}

.main-footer-logo:hover,
.main-footer-logo:focus {
	opacity: 0.6;
}

.main-footer-logo:active {
	opacity: 0.3;
}

.footer-user-navigation {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-user-navigation li {
	margin-right: 44px;
}

.footer-user-navigation li:last-child {
	margin-right: 0;
}

.footer-login-link::before {
	top:12px;
	
	background-image: url("../img/svg-device/user-orange.svg");
}

.footer-user-navigation a {
	font-size: 15px;
	line-height: 35px;
	font-family: "Open Sans Light", "Arial", sans-serif;
	color: #fff;
	opacity: 0.7;

	margin-right: 39px;
}

.footer-user-functions {
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;
}

.footer-user-functions li {
	margin-right: 36px;
}

.footer-user-functions li:last-child {
	margin-right: 0;
}

.footer-compare-link::before {
	background-image: url("../img/svg-device/compare-orange.svg");
	top:14px;
}

.footer-basket-link::before {
	background-image: url("../img/svg-device/cart-orange.svg");
	top:12px;
	left:6px;
	/*кусочек не залился желтым*/
}

.footer-user-functions a {
	font-size: 15px;
	line-height: 35px;
	font-family: "Open Sans Light", "Arial", sans-serif;
	color: #fff;
	opacity: 0.7;
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus,
.footer-user-functions a:hover,
.footer-user-functions a:focus {
	opacity: 1;
}

.footer-user-navigation a:active,
.footer-user-functions a:active {
	opacity: 0.3
}

.footer-center .location {
	margin: 0;
	padding: 0;

	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
}

.footer-center .phone {
	width: 200px;
}

.footer-list {
	width: 426px;
	display: flex;
	justify-content: space-between;
	margin: 0;
	margin-left: -36px;
	padding: 0;
	padding-top: 4px;

	font-size: 18px;
	list-style: none;
}

.footer-list a {
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 0.2em;
}

.footer-list a:hover,
.footer-list a:focus {
	opacity: 0.6;
}

.footer-list a:active {
	opacity: 0.3;
}

.main-footer span {
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 15px;
	line-height: 30px;
}

.footer-social {
	display: flex;
	justify-content: space-between;
	width: 140px;
	height: 32px;
	margin: 0;
	margin-left: -54px;
	padding: 0;
	padding-bottom: 5px;

	list-style: none;
}

.social-button {
	position: relative;

	padding-left: 32px;
}

.facebook::before {
	position: absolute;
	top: 0;
	left: 0;

	background: url("../img/svg-device/fb.svg") no-repeat 0 0;
	width: 32px;
	height: 32px;

	opacity: 0.3;
	content: "";
}

.instagram::before {
	position: absolute;
	top: 0;
	left: 0;

	background: url("../img/svg-device/instagram.svg") no-repeat 0 0;
	width: 32px;
	height: 32px;

	opacity: 0.3;
	content: "";
}

.twitter::before {
	position: absolute;
	top: 0;
	left: 0;

	background: url("../img/svg-device/twitter.svg") no-repeat 0 0;
	width: 32px;
	height: 32px;

	opacity: 0.3;
	content: "";
}

.footer-bottom .academy-logo{
	display: block;
	padding-top: 3px;
}
/*-----------------------------------------POP UP LOGIN---------------------------------------------------*/

.modal {
	width: 960px;
	min-height: 554px;
	margin: 0 auto;
}

.write-us {
	background-color: #fff;
}

.write-us .form-login {
	width: 760px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
}

.modal-inner-wrapper {
	width: 360px;
}

.textarea {
	width: 760px;
}

.write-us input {
	width: 360px;
}

.write-us textarea {
	width: 760px;
}

.write-us input,
.write-us textarea {
	background-color: #f2f2f2;

	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
}

.write-us input:hover,
.write-us textarea:hover {
	background-color: #ebebeb;
}

.write-us input:focus,
.write-us textarea:focus {
	background-color: #ffffff;
	outline-color: #f7e296;
}

.write-us .invalid-field {
	background-color: #f6dada;
}

.write-us .invalid-field:hover,
.write-us .invalid-field:focus {
	background-color: #f6dada;
}

/*-----------------------------------------CATALOG.HTML---------------------------------------------------*/
.selfie-title{
	padding-left: 80px;
	padding-top: 38px;
}

.selfie-title h1{
	margin: 0;
	margin-bottom: 26px;
	
	font-size: 47px;
	line-height: 48px;
	letter-spacing: 0.01em;
}

.breadcrumbs {
	display: flex;
	margin-bottom: 50px;
	padding: 0;

	list-style: none;
}

.breadcrumbs li:not(:last-child) {
	margin-right: 18px;
}

.breadcrumbs a,
.breadcrumbs li:last-child {
	display: inline-block;
	
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.01em;
	color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a{
	position: relative;
	
	
	padding-right: 22px;
}

.breadcrumbs a::after{
	position: absolute;
	right: 0;
	top: 10px;
	
	width: 4px;
	height: 7px;
	background-image: url("../img/svg-device/nav-arrow.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	
	content: "";
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1);
}

/*--------------flex---------------*/

.catalog-container {
	display: flex;
}

.filters {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: flex-end;

	background-color: #eeeeee;
}

.filter-title {
	display: flex;
	align-self: stretch;
	justify-content: flex-end;

	background-color: #dbdbdb;
}

.filter-title h2 {
	width: 348px;
	margin: 0;
	padding: 27px 0;
	padding-left: 80px;
	box-sizing: border-box;
	
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.form-filter {
	width: 348px;
	padding-left: 80px;
	padding-right: 68px;
	padding-top: 69px;
	box-sizing: border-box;
}

.catalog-main-wrapper {
	flex-grow: 1;
}

.sorting-wrapper {
	background-color: #ebebeb;
}

.sorting-inner {
	display: flex;
	padding: 27px 0;
	align-items: baseline;
	padding-top: 27px;
	width: 852px;
	padding-left: 72px;
	padding-right: 20px;
	box-sizing: border-box;
}


.catalog-wrapper {
	width: 852px;
	padding-right: 20px;
	padding-left: 72px;
	padding-top: 69px;
	padding-bottom: 77px;
	box-sizing: border-box;
}

.catalog-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.pagination-list {
	display: flex;
}

/*-----------flex-----------*/


.filters fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
.filter-item legend {
	width: 200px;
	margin-bottom: 27px;
	padding-top: 13px;
	
	border-top: 2px solid #000;
}

.filter-item label {
	font-family: "Open Sans Light", "Arial", sans-serif;
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.01em;
}

.filter-item ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
}

.range-controls {
	position: relative;
	width:195px;
	margin-top: 18px;
	padding-left: 5px;
}
.range-controls .scale {
	height: 2px;
	background-color: #dbdbdb;
}
.range-controls .bar {
	width: 112px;
	height: 2px;
	background-color: #91c92f;
}
.range-controls .toggle {
	position: absolute;
	top: -6px;
	width: 10px;
	height: 10px;
	background-color: #eee;
	border: 2px solid #000;
	border-radius: 50%;
	cursor: pointer;
}
.range-controls .toggle-min {
	left: -2px;
}
.range-controls .toggle-max {
	left: 110px;
}
.selected-price {
	margin-top: 9px;
	padding-bottom: 4px;
	
	font-family: "Gilroy Light","Arial",sans-serif;
	color:rgba(0,0,0,0.2);
	font-size: 14px;
	line-height: 22px;
}
.selected-price span:first-child {
	margin-right: 60px;
}

.filter-item:first-child {
	margin-bottom: 36px;
}


.filter-input-checkbox + label::before{
	content: "";
	margin-top: 5px;
	margin-right: 20px;
	width: 27px;
	height: 23px;
	float: left;
	background-image: url(../img/svg-device/checkbox-off.svg);
	background-repeat: no-repeat;
	background-position: top left;
}

.filter-input-checkbox-checked + label::before{
	content: "";
	margin-top: 5px;
	margin-right: 20px;
	width: 27px;
	height: 23px;
	float: left;
	background-image: url(../img/svg-device/checkbox-on.svg);
	background-repeat: no-repeat;
	background-position: top left;
}
.filter-item:nth-child(2) {
	margin-bottom: 42px;
}

.filter-input-radio + label::before {
	content: "";
	width: 25px;
	height: 25px;
	margin-top: 5px;
	margin-right: 20px;
	float: left;
	background-image: url("../img/svg-device/radio-off.svg");
	background-repeat: no-repeat;
	background-position: top left;	
}
.filter-input-radio-checked + label::before {
	content: "";
	width: 25px;
	height: 25px;
	margin-top: 5px;
	margin-right: 20px;
	float: left;
	background-image: url("../img/svg-device/radio-on.svg");
	background-repeat: no-repeat;
	background-position: top left;	
}

.filter-item:nth-child(3) {
	margin-bottom: 52px;
}
.form-filter button{
	width: 200px;
	
	background-color: transparent;
}





.sorting h2 {
	margin: 0;
	margin-right: 68px;
	
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.sorting a:not(:nth-child(n+5)/*n+4 не правильно работает почему то,сбрасывает 	ПО ПОПУЛЯРНОСТИ*/) {
	margin-right: 30px;
	
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(0, 0, 0, 0.3);
}
.sorting .arrow-up{
	width: 11px;
	height: 10px;
	margin-left: auto;
	margin-right: 19px;
	
	background-image: url(../img/svg-device/icon-up-dir.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.2;
}
.sorting .arrow-down{
	width: 11px;
	height: 10px;
	
	background-image: url(../img/svg-device/icon-down-dir.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}
.sorting a:hover,
.sorting a:focus {
	color: rgba(0, 0, 0, 0.6);
}

.sorting a:active {
	color: rgba(0, 0, 0, 1);
}




.catalog-list {
	list-style: none;
}
.catalog-list .catalog-item {
	position: relative;
	
	width: 360px;
	margin-right: 40px;
}
.catalog-list .catalog-item:nth-child(2n) {
	margin-right: 0;
}

.catalog-item-description {
	display: flex;
	justify-content: space-between;
	
	margin-top: 40px;
}
.catalog-item-hover{
	position:absolute;
	left:80px;
	top:182px;
	
	display: flex;
	flex-direction: column;	
	width: 200px;
}
.catalog-list a {
	font-size: 18px;
	line-height: 24px;
	color: #000;
	letter-spacing: 0.01em;
}
.catalog-list h3{
	margin: 0;
	padding: 0;
}
.catalog-list .good-price {
	font-family: "Gilroy Light", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.01em;
}

.catalog-list img:hover {
	opacity: 0.7;
}

.catalog-list button{
	background-color: transparent;
}
.catalog-list .button-compare {
	background-color: transparent;
	border: none;

	text-transform: none;
	font-family: "Open Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: rgba(0, 0, 0, 0.5);
	letter-spacing: 0.01em;
}

.catalog-list .button-compare:hover,
.catalog-list .button-compare:focus {
	color: rgba(0, 0, 0, 1);
}

.catalog-list .button-compare:active {
	color: rgba(0, 0, 0, 0.2);
}





.pagination-list {
	margin: 0;
	padding: 0;
	padding-left: 30px;
	padding-top: 26px;
	padding-bottom: 26px;
	
	list-style: none;
	background-color: #ebebeb;
}

.pagination-list .item-prev{
	margin-right: auto;
}

.pagination-list .item-next{
	margin-left: auto;
}
.pagination-item{
	padding-right: 32px;
}
.pagination-item:nth-last-child(2){
	padding: 0;
}
.pagination-list a {
	font-family: "Gilroy Bold", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a,
.item-prev a,
.item-next a {
	color: #000;
}

.item-prev a:hover,
.item-next a:hover,
.item-prev a:focus,
.item-next a:focus {
	background-color: #d9d9d9;
}

.item-prev a:active,
.item-next a:active {
	background-color: #d9d9d9;
	color: rgba(0, 0, 0, 0.3);
}